#navegador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between ;
 }
 .botonAdmin{
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    background-color: black;
    outline: none;
}
.botonAdmin:hover{
    background-color: rgb(73, 133, 245);
}


.botonAsignar{
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 35px;
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    background-color: black;
    outline: none;
}
.botonAdmin:hover{
    background-color: rgb(73, 133, 245);
}



.fondoP{
    min-height: 100vh;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

#titulo{
    font-family: "magneto";
    font-size: 80px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: black;
}