.fondo{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    min-height: 100vh;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-right: 250px;
}


.search {
    width: 200px;
    padding: 8px 10px;
    margin: 20px 0;
    outline: none;
    border: none;
    border-radius: 60px;
   
    background-color: black;
}


.botonMenu{
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 270px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    background-color: black;
    outline: none;
}
.botonMenu:hover{
    background-color: rgb(73, 133, 245);
}

#nav{
    width: 400px;
 }
 


.cuadrop{
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100vh;
    width: 30%;
    box-shadow: 0 0 10px 5px;
    z-index: 0;
    background-color: white;
}

.cuadro{
    
    position: absolute;
    left: 460px;
    top: 50px;
    height: 450px;
    width: 450px;
    box-shadow: 0 0 10px 5px;
    background-color: rgb(255, 255, 255);
}

.titulonav{
    font-weight: bold;
    font-family: "magneto";
    font-weight: bold;
    font-size: 40px;
    color: #000;
    padding: 4px;
 }
 
 .cuerporec{
    margin: 0px;
 }
 
 .cuerporec ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
 }
 
 .cuerporec li{
    font-family: "magneto";    
    
 }