.fondo{
    text-align: center;
    min-height: 100vh;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.signinsquare{
    margin: auto;
    top: 50px;
    height: 450px;
    width: 450px;
    box-shadow: 0 0 10px 5px;
    background-color: rgb(255, 255, 255);
}
.error{
    position: relative;
    top: 100px;
    left: 100px;
    color: red;
}

.cuadroReporte{
    position: absolute;
    left: 438px;
    top: 0px;
    height: 100%;
    width: 450px;
    box-shadow: 0 0 10px 5px;
    background-color: rgb(255, 255, 255);
}
#tituloR{
    font-family: "magneto";
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    left: 70px;
    font-weight: bold;
    color: black;
}

#titulo{
    font-family: "magneto";
    font-size: 100px;
  
    font-weight: bold;
    color: black;
}

.button{
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    background-color: black;
    outline: none;
}
.button:hover{
    background-color: rgb(73, 133, 245);
}

::placeholder {
    color: black;
    opacity: 50;
    font-family: "arial";
}
.inputSign {
    width: 200px;
    padding: 8px 10px;
    margin: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
}

.inputSign[type=text]:focus{
    background-color: rgba(73, 133, 245, 0.8);
}

input[type=password] {
    width: 200px;
    padding: 8px 10px;
    margin: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
}
input[type=password]:focus{
    background-color: rgba(73, 133, 245, 0.8);
}
.espaciado{
    margin-top: 20px;
}