.payment_container{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.stats_title{
  font-weight: bold;
  font-family: "magneto";
  font-weight: bold;
  font-size: 40px;
  color: #000;
  padding: 4px;
  margin: 4px;
}

.payment_reports{
  display: flex;
  flex-direction: column;
  margin: 5px 0px 0px 0px;
}

.payment_info{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0px 0px 5px 0px;
  background-color: aqua;
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
}

.header {
  background-color: blue;
  color: white;
}

.payment_item{
  display: inline-grid;
  justify-content: center;
  padding: 3px;
}