.song_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
  }
  
  .song_containers {
    background-color: mintcream;
    border-radius: 25px;
    padding: 30px;
  }
  
  .song_goback {
    background-color: white;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  
  .song_goback:hover {
    background-color: #4c65dd;
  }
  
  .updaters {
    display: flex;
    justify-content: space-between;
  }
  
  .middle {
    display: flex;
    justify-content: center;
  }