.gen_title{
  font-weight: bold;
  font-family: "Arial";
  font-weight: bold;
  font-size: 40px;
  color: #000;
  padding: 4px;
  margin: 4px;
}
.gen_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 25px;
  padding: 30px;
}
.input_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.num_input{
  width: 50px;
  height: 15px;
  border: black solid 3px;
}
.date_input{
  border: black solid 3px;
}
.gen_btn{
  font-family: "Bahnschrift";
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 270px;
  height: 30px;
  border-radius: 15px;
  border-width: 1px;
  background-color: black;
  outline: none;
}